In [4]:
import pandas as pd
dados = pd.read_csv('dados/aluguel_residencial.csv', sep = ';')

In [5]:
# 1 e 2
# 3 e 4
# 5 e 6
# 7 e 8
classes = [0, 2, 4, 6, 100]

In [6]:
# o método cut() para nos ajudar a categorizar as classes. Ela receberá como parâmetro dados.Quartos e classes, o primeiro parâmetro corresponde à coluna do DataFrame.
quartos = pd.cut(dados.Quartos, classes)

In [7]:
# O metodo value counts Retorna uma series contendo contagens de valores exclusivos.
pd.value_counts(quartos)

(0, 2]      11250
(2, 4]       9681
(4, 6]        686
(6, 100]       50
Name: Quartos, dtype: int64

In [8]:
# Organizando a frequencia criando um labels
labels = ['1 e 2 quartos', '3 e 4 quartos', '5 e 6 quartos', '7 quartos ou mais' ]

In [13]:
# cut nos ajuda a categorizar as classes
quartos = pd.cut(dados.Quartos, classes, labels = labels)
quartos

0        1 e 2 quartos
1        1 e 2 quartos
2        1 e 2 quartos
3        1 e 2 quartos
4        1 e 2 quartos
             ...
21821    1 e 2 quartos
21822              NaN
21823    3 e 4 quartos
21824    1 e 2 quartos
21825    1 e 2 quartos
Name: Quartos, Length: 21826, dtype: category
Categories (4, object): ['1 e 2 quartos' < '3 e 4 quartos' < '5 e 6 quartos' < '7 quartos ou mais']

In [10]:
pd.value_counts(quartos)

1 e 2 quartos        11250
3 e 4 quartos         9681
5 e 6 quartos          686
7 quartos ou mais       50
Name: Quartos, dtype: int64

In [11]:
#Podemos, ainda, inserir um método para incluir os valores o valor mais baixo. Basta escrever:
quartos = pd.cut(dados.Quartos, classes, labels = labels, include_lowest = True)

In [12]:
pd.value_counts(quartos)

1 e 2 quartos        11409
3 e 4 quartos         9681
5 e 6 quartos          686
7 quartos ou mais       50
Name: Quartos, dtype: int64

In [ ]:
# O valor de 1 a 2 quartos foi alterado , pois provavelmente tem alguns imóveis anunciados sem quartos.