# Relatorio de analise

## Seleções e frequencias

In [1]:
import pandas as pd

In [8]:
dados = pd.read_csv('dados/aluguel_residencial.csv', sep = ';')

In [9]:
dados.head(10)

,Unnamed: 0,Unnamed: 0.1,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,0,0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,1,1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,2,2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,3,3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,4,4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
5,5,5,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
6,6,6,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,NaN,NaN
7,7,7,Casa de Condomínio,Ramos,2,2,0,65,1000.0,NaN,NaN
8,8,8,Apartamento,Centro,1,0,0,36,1200.0,NaN,NaN
9,9,9,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0

In [10]:
#Selecione somente os imóveis classificados com tipo 'Apartamento'.
selecao = dados ['Tipo'] == 'Apartamento'
selecao

0        False
1        False
2         True
3         True
4         True
         ...
22575     True
22576    False
22577     True
22578     True
22579     True
Name: Tipo, Length: 22580, dtype: bool

In [11]:
#Selecione somente os imóveis classificados com tipo 'Apartamento'.
selecao = dados['Tipo'] == 'Apartamento'
n1 = dados[selecao].shape[0]
n1

19532

In [13]:
#Selecione os imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila'.
selecao = (dados['Tipo'] == 'Casa') | (dados['Tipo'] == 'Casa de Condomínio') | (dados['Tipo'] == 'Casa de Vila')
n2 = dados[selecao].shape[0]
n2

2212

In [14]:
#Selecione os imóveis com área entre 60 e 100 metros quadrados, incluindo os limites.
#60 <= Area <=100
selecao = (dados['Area'] >= 60) & (dados['Area'] <= 100)
n3 = dados[selecao].shape[0]
n3

8719

In [16]:
# selecionando apartamentos que tenham 4 quartos, no minimo, e aluguem menor que 2.000 reais

selecao = (dados['Quartos'] >= 4 & (dados['Valor'] > 2.000))
n4 = dados[selecao].shape[0]
n4

22580

In [17]:
print("Nº de imóveis classificados com tipo 'Apartamento' -> {}".format(n1))
print("Nº de imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila'-> {}".format(n2))
print("Nº de imóveis com área entre 60 e 100 metros quadrados, incluindo os limites -> {}".format(n3))
print("Nº de imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00 -> {}".format(n4))

Nº de imóveis classificados com tipo 'Apartamento' -> 19532
Nº de imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila'-> 2212
Nº de imóveis com área entre 60 e 100 metros quadrados, incluindo os limites -> 8719
Nº de imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00 -> 22580

In [18]:
import pandas as pd
alunos = pd.DataFrame({'Nome': ['Ary', 'Cátia', 'Denis', 'Beto', 'Bruna', 'Dara', 'Carlos', 'Alice'], 
                        'Sexo': ['M', 'F', 'M', 'M', 'F', 'F', 'M', 'F'], 
                        'Idade': [15, 27, 56, 32, 42, 21, 19, 35], 
                        'Notas': [7.5, 2.5, 5.0, 10, 8.2, 7, 6, 5.6], 
                        'Aprovado': [True, False, False, True, True, True, False, False]}, 
                        columns = ['Nome', 'Idade', 'Sexo', 'Notas', 'Aprovado'])